// Buttons

//.btn-secondary {
//  @include hairline($border-color, $btn-border-radius);
//}

.btn-md {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.btn-fluid {
  border-radius: 0;
  border: 0;
  width: 100%;
  height: 3rem;
  display: block;
  line-height: 2rem; /* 链接需要指定高度才能上下居中,按钮无需 */

  // hairline
  &::after {
    border-radius: 0;
  }
}
