// Form check 和 label 对齐
.col-form-label + [class*="col-"] > .custom-control {
  padding-top: calc(#{$input-padding-y} + #{$input-border-width});
  padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
}

.custom-control-label {
  line-height: px2rem(20, $font-size);
}

.custom-control-no-text {
  padding-left: $custom-control-gutter + $custom-control-indicator-size + .5rem;
}
