.table-responsive > .table {
  white-space: nowrap;
}

.table {
  word-wrap: break-word; // 数字字母（如 URL）超长能正确换行
  overflow-wrap: break-word;

  thead {
    tr {
      color: #707070;
      background: #f6f6f6;
    }
  }
}

.table-bordered thead {
  th, td {
    border-bottom-width: 1px;
  }
}

.table-center {
  text-align: center;

  th, td {
    vertical-align: middle;
  }

  thead th {
    vertical-align: middle;
  }
}
